// Section news //

:root {
    --font-family-primary: 'Vollkorn', serif;
    --font-family-secondary: 'PT Sans', sans-serif;

    --font-size-title: 32px;
    --line-height-title: 1.4;
    --font-size-caption: 14px;
    --line-height-caption: 1.2;

    --color-text: #222022;
    --color-highlight-primary: #FFEF7E;
    --color-highlight-secondary: #B7F9E9;
    --border-radius-primary: 32px;
  }

  $darkgreen:#293726;
$ligthgreen:#6d8f66;
$greylink:grey;

.slider_posts{
    padding: 0px 0px 100px 0px;
    margin: 0px auto;
    color: #f5f5f5;
    background-image: url('/images/activities.png') ;
    background-size: cover;
    height: 200px;
    align-items: center;
    background-position: center bottom;
    background-size: cover;
}
.text_news{
    text-align: center;
    background-color: $darkgreen;
    color: white;
    h1{

        display: inline-block;
        overflow: hidden;
        letter-spacing: 2px;
        animation: typing 5s steps(30, end), blink 1s;
        white-space: nowrap;
        font-size: 30px;
        font-weight: 700;
        border-right: 4px solid orange;
        box-sizing: border-box;
        }
    }

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 20%
    }
}
@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

  .news{
    display: flex;
    background-color: #6d8f6659;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;



    .card {
        width: 700px;
        height: 450px;
        border-radius: var(--border-radius-primary);
        box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
        padding: 20px 20px 28px 20px;
        box-sizing: border-box;
        margin: 20px;
        display: flex;
        flex-direction: row-reverse;
        background: rgb(255,255,255);
        background: linear-gradient(84deg, rgba(255,255,255,1) 56%, rgba(41,55,38,1) 100%);
        background-size: 100% ;

        .hover-image{
            font-size: 50px;
            font-weight: bolder;
            color: white;
            position: relative;
            right: 120px;
            top: 180px;
            z-index: 999;

            h2{
                letter-spacing: 5px;

            }
        }

        .card__image {
            position: absolute;
            margin-top: 20px;
            height: 350px;
            border-radius: var(--border-radius-primary);
            object-fit: cover;



          }
          .card__content {
            display: flex;
            justify-content:center;
            flex-direction: column;
            box-sizing: border-box;
            width: 450px;
            margin-right: 180px;

            .card__date {

                text-transform: uppercase;
                letter-spacing: 5px;
                text-align: center;
            }

            .card__title {

                h1{
                    font-size: 25px;
                }

                padding: 0px;

              }

          }


      }
  }












// .news {

//     .slider{
//         margin: 0px auto;
//         color: #f5f5f5;
//         background-image: url('/images/beach.png');
//         background-size: cover;
//         width: 100%;
//         height: 500px;
//         align-items: center;


//     }


//         .title {
//             text-align: center;
//             color: whitesmoke;
//             font-weight: bold;
//             text-shadow: 5px 5px 10px black;
//             padding-left: 100px;
//             font-size: 55px;
//             padding-top: 5%;

//         }

//         .post{
//             text-align:center ;

//             h3 {
//                 font-size: 50px;
//             }

//             padding: 50px;
//             border: 1px solid #6d8f66;
//         }

// }
